.main-card
  background-color: aqua
  display: flex
  margin: auto
  .carta
    background-color: green
    border-right: 1px solid pink
    margin: 0 0 0 22rem
    padding: 0 4rem 0 0
    .lyuot
      background-color: blue
      margin: 3rem 0 0 0
      padding: 0 0 0 0
      .nombre
        text-align: left
        #tiny
          padding: 8px 0 8px 0
        .button-icon
          margin: 0 0 0 2px
    .main-card__card
      background-color: red
      border-radius: 5px
      text-align: center
      .trash
        font-size: 12px
        padding: 0 10px 0 150px
    .imagen
      background-color: orange
      border-radius: 0 0 5px 5px
      margin: 0 10px 10px 10px
    .nombre
      background-color: pink
      margin: -26px 0 0 0
    h6
      margin: -22px 0 0 0
    .nombre2
      padding: 1rem 0 0 0
      text-align: left
  .element
    background-color: red
    color: blue
    margin: 22px 0 0 88px
  #small-size
    margin: 0 0 0 1px
