.main-card
  background-color: aqua
  display: flex
  margin: auto
  .lyuot
    background-color: blue
    margin: 3rem 0 0 22rem
    padding: 0 0 3rem 0
  .main-card__card
    background-color: red
    border-radius: 5px
    text-align: center
    .trash
      font-size: 12px
      padding: 0 25px 0 150px
  .imagen
    background-color: orange
    border-radius: 0 0 5px 5px
  .nombre
    background-color: pink
    margin: -26px 0 0 0
  h6
    margin: -22px 0 0 0
  .nombre2
    padding: 1rem 0 0 0
    text-align: left
