.main__column
  background-color: orange
  margin: 0
  width: 964px
  .column
    background-color: pink
    label
      font-size: 12px
      padding: 0 32px 0 1px
    .button-icon
      margin: 0 5px 0 0
    .column1
      background-color: red
      border-radius: 28px
      label
        font-size: 15px
        padding: 0 2rem 0 0
    .column2
      background-color: blue
      label
        font-size: 15px
        padding: 0 2rem 0 0
