.main__column
  background-color: #f1f2f2
  margin: 0
  width: 980px
  .column
    background-color: #f1f2f2
    margin: 1rem 0 0 1rem
    label
      font-size: 12px
      padding: 0 11px 0 18px
    .button-icon
      margin: 0 5px 0 0
      padding: 6px 6px 6px 6px
    .column1
      background-color: #e6e6e6
      border-radius: 28px
      padding: 0 0 0 5px
      margin: 10px 0 0 14px
      label
        font-size: 13px
        padding: 0 2rem 0 0
    .column2
      background-color: #f1f2f2
      padding: 0 0 0 5px
      margin: 0 0 0 14px
      label
        font-size: 13px
        padding: 0 2rem 0 0
.main__labels
  background-color: #f1f2f2
  margin: 0
  .main__lab
    background-color: #f1f2f2
    display: flex
    margin: 4rem 0 0 0
    .main__label2
      background-color: #f1f2f2
      color: #4f4f4f
      margin: 0 2rem 0 1rem
      .fa
        font-size: 18px
      .icon-clock
        color: #4f4f4f
      label
        font-size: 12px
      hr
        border: 2px solid #4f4f4f
        margin: 5px 0 0 8px
