.inputs
  background-color: orange
  display: flex
  margin: auto
  .main__input
    background-color: red
    margin: 0 0 0 22rem
    padding: 1rem 0 1rem 0
  .main__input2
    background-color: blue
    padding: 4rem 0 0 0
    #medium-input
      margin: 0 1rem 0 1rem
    .input2
      padding: 2rem 0 0 3rem
      #large
        border-radius: 15px
        font-size: 18px
        padding: 2rem 22rem 2rem 3rem
  .input
    background-color: aqua
    padding: 1rem 0 1rem 0
