.inputs
  background-color: #f1f2f2
  display: flex
  margin: auto
  .main__input
    background-color: #f1f2f2
    margin: 0 0 0 22rem
    .label1
      font-size: 15px
      padding: 1rem 0 0 0
    .label2
      font-size: 10px
      padding: 1rem 0 0 0
  .main__input2
    background-color: #f1f2f2
    padding: 4rem 0 1rem 0
    #medium-input
      background-color: #ffffff
      color: #a9a9a9
      margin: 0 2rem 0 0
    .input2
      padding: 1rem 0 0 3rem
      label
        font-size: 14px
      #large
        border-radius: 15px
        font-size: 14px
        padding: 10px 425px 70px 30px
