.main__navbar-serch
  background-color: red
  display: flex
  flex-grow: 1
  flex-wrap: wrap
  .main__search
    background-color: yellow
    flex-grow: 1
    padding: 26px 0 0 20px
    label
      padding: 0 1rem 0 0
  .main__login
    background-color: blue
    .login
      background: pink
      display: flex
      margin: auto
      padding: 1rem 1rem 1rem 0
      .login1
        padding: 20px 30px 0 0
      .login3
        padding: 20px 0 0 0
