.titulo
  background-color: #f1f2f2
  padding: 3rem 2rem 0 0
  .main__titulo
    background-color: #f1f2f2
    margin: 0 0 0 15px
  .cabecera
    background-color: #ffffff
    border-radius: 8px
    display: flex
    padding: 5px 0 5px 0
    margin: 1rem 0 0 1rem
    width: 840px
    .imagen
      background-color: #ffffff
      padding: 5px 5px 5px 10px
    .datos
      background-color: #ffffff
      padding: 10px 0 0 0
      #label-1
        font-size: 14px
      #label-2
        font-size: 10px
    .abajo
      background-color: #ffffff
      margin: 0 0 0 134px
      padding: 12px 0 0 0
      #large
        background-color: #f8f8f8
        font-size: 12px
        width: 176px
      #large-size
        background-color: #f8f8f8
        color: #cdcdcd
        border: 1px solid #ccc
        border-radius: 0 18px 18px 0
        font-size: 12px
        margin: 4px 6px 0 -58px
        padding: 8px 20px 8px 16px
    .boton
      background-color: #ffffff
      padding: 8px 0 0 6px
    .last-day
      background-color: #ffffff
      margin: 0 0 0 5px
      padding: 18px 0 0 3px
    .button
      background-color: #ffffff
      padding: 8px 0 0 0
      .line1
        border-right: 1px solid #01a6a1
        height: 3rem
        .button-icon
          margin: 11px 4px 0 0
          padding: 6px 6px 6px 6px
      .line2
        border-left: 1px solid #01a6a1
        height: 3rem
        .button-icon
          margin: 8px 0 0 6px
          padding: 6px 0 5px 0
    .abajo2
      background-color: #ffffff
      margin: 0 0 0 42px
      padding: 5px 0 0 0
      #large
        font-size: 12px
        padding: 16px 10px 14px 30px
        margin: 5px 0 0 0
        width: 200px
      #large-size
        background-color: #f8f8f8
        color: #cdcdcd
        border: 1px solid #ccc
        border-radius: 0 18px 18px 0
        font-size: 12px
        margin: 0 6px 0 -52px
        padding: 14px 14px 12px 14px
    .boton2
      background-color: #ffffff
      padding: 4px 0 0 12px
    .last-day2
      background-color: #ffffff
      margin: 0 10px 0 10px
      padding: 16px 0 0 3px
    .button2
      background-color: #ffffff
      padding: 6px 0 0 0
      .icon-heart
        font-size: 17px
      .line1
        border-right: 1px solid #01a6a1
        height: 3rem
        .button-icon
          margin: 10px 6px 0 0
          padding: 6px 6px 6px 6px
      .line2
        border-left: 1px solid #01a6a1
        height: 3rem
        .button-icon
          margin: 8px 0 0 8px
          padding: 8px 0 5px 0
    .datos3
      background-color: #ffffff
      padding: 18px 20px 0 10px
      #label__1
        font-size: 20px
      #label__2
        font-size: 14px
    .boton3
      background-color: #ffffff
      margin: 0 0 0 80px
      padding: 5px 0 0 0
      #large-size
        margin: 8px 0 0 0
    .last-day3
      background-color: #ffffff
      margin: 0 0 0 5px
      padding: 28px 10px 0 10px
    .button3
      background-color: #ffffff
      margin: 0 0 0 4px
      padding: 15px 0 0 0
      .icon-heart
        font-size: 26px
      .line1
        border-right: 1px solid #01a6a1
        height: 3rem
        .button-icon
          margin: 0 16px 0 0
          padding: 6px 6px 6px 6px
      .line2
        border-left: 1px solid #01a6a1
        height: 3rem
        .button-icon
          margin: 5px 0 0 12px
          padding: 8px 0 6px 0
