.titulo
  background: yellow
  padding: 3rem 2rem 0 0
  .main__titulo
    background-color: pink
    margin: 0 0 0 15px
  .cabecera
    background-color: blue
    border-radius: 8px
    display: flex
    padding: 5px 0 5px 0
    margin: 1rem 0 0 1rem
    .imagen
      background-color: red
      padding: 5px 5px 5px 10px
    .datos
      background-color: orange
      padding: 10px 0 0 0
      #label-1
        font-size: 14px
      #label-2
        font-size: 10px
    .abajo
      background-color: pink
      margin: 0 0 0 113px
      padding: 5px 0 0 0
      #large
        font-size: 12px
        width: 176px
      #large-size
        border: 1px solid #ccc
        border-radius: 0 18px 18px 0
        font-size: 12px
        margin: 4px 6px 0 -58px
        padding: 10px 20px 10px 16px
    .boton
      background-color: aqua
      padding: 12px 0 0 0
    .last-day
      background-color: pink
      margin: 0 0 0 5px
      padding: 18px 0 0 3px
    .button
      background-color: orange
      margin: 0 0 0 4px
      padding: 10px 0 0 0
      .line1
        border-right: 1px solid #01a6a1
        height: 2rem
        .button-icon
          margin: 0 2px 0 4px
      .line2
        border-left: 1px solid #01a6a1
        height: 2rem
        .button-icon
          margin: 0 0 0 6px
          padding: 8px 0 5px 0
    .abajo2
      background-color: pink
      margin: 0 0 0 40px
      #large
        font-size: 12px
        padding: 16px 10px 14px 30px
        margin: 5px 0 0 0
        width: 200px
      #large-size
        border: 1px solid #ccc
        border-radius: 0 18px 18px 0
        font-size: 12px
        margin: 0 6px 0 -58px
        padding: 16px 18px 14px 16px
    .boton2
      background-color: aqua
      padding: 0 0 0 8px
    .last-day2
      background-color: pink
      margin: 0 0 0 5px
      padding: 18px 0 0 3px
    .button2
      background-color: orange
      margin: 0 0 0 4px
      padding: 12px 0 0 0
      .icon-heart
        font-size: 17px
      .line1
        border-right: 1px solid #01a6a1
        height: 2rem
        .button-icon
          margin: 0 9px 0 0
      .line2
        border-left: 1px solid #01a6a1
        height: 2rem
        .button-icon
          margin: 0 0 0 6px
          padding: 8px 0 5px 0
    .datos3
      background-color: orange
      padding: 18px 20px 0 10px
      #label__1
        font-size: 20px
      #label__2
        font-size: 14px
    .boton3
      background-color: aqua
      margin: 0 0 0 105px
      padding: 5px 0 0 0
      #large-size
        margin: 8px 0 0 0
    .last-day3
      background-color: pink
      margin: 0 0 0 5px
      padding: 28px 6px 0 6px
    .button3
      background-color: orange
      margin: 0 0 0 4px
      padding: 15px 0 0 0
      .icon-heart
        font-size: 26px
      .line1
        border-right: 1px solid #01a6a1
        height: 3rem
        .button-icon
          margin: 0 6px 0 0
      .line2
        border-left: 1px solid #01a6a1
        height: 3rem
        .button-icon
          margin: 5px 0 0 6px
          padding: 8px 0 6px 0
