.titulo
  background-color: #f1f2f2
  padding: 6rem 2rem 0 0
  .main__titulo
    background-color: #f1f2f2
    margin: 0 0 0 2rem
  .linea1
    border-top: 1px solid #c5c5c5
    float: left
    margin: 0 0 0 30px
    padding: 0 0 30px 0
    position: relative
    top: 12px
    width: 400px
  .linea2
    border-top: 1px solid #c5c5c5
    float: left
    padding: 0 0 30px 0
    position: relative
    top: 12px
    width: 520px
  .linea3
    border-top: 1px solid #c5c5c5
    float: left
    margin: 0 30px 5px 30px
    padding: 0 0 80px 0
    position: relative
    top: 24px
    width: 388px
  .leyenda
    color: #c5c5c5
    font-size: 26px
    float: left
  .cabecera
    background-color: #ffffff
    border-radius: 8px
    display: flex
    padding: 5px 0 5px 0
    margin: 1rem 0 0 3rem
    width: 890px
    .imagen
      background-color: #ffffff
      padding: 10px 12px 10px 22px
    .imagen2
      background-color: #ffffff
      padding: 10px 12px 10px 26px
    .datos
      background-color: #ffffff
      padding: 10px 0 0 0
      #label-1
        font-size: 14px
      #label-2
        font-size: 10px
    .abajo
      background-color: #ffffff
      margin: 0 0 0 115px
      padding: 12px 0 0 0
      #large
        background-color: #f8f8f8
        font-size: 12px
        width: 176px
      #large-size
        background-color: #f8f8f8
        color: #cdcdcd
        border-left: 1px solid #ccc
        border-radius: 0 18px 18px 0
        font-size: 12px
        margin: 4px 6px 0 -39px
        padding: 8px 8px 8px 8px
    .boton
      background-color: #ffffff
      padding: 8px 0 0 8px
    .last-day
      background-color: #ffffff
      margin: 0 0 0 6px
      padding: 18px 10px 0 10px
    .button
      background-color: #ffffff
      padding: 8px 0 0 0
      .line1
        border-right: 1px solid #f1f2f2
        height: 3rem
        .button-icon
          background-color: #1f1f1f
          color: #ffffff
          margin: 11px 12px 0 0
          padding: 8px 8px 8px 8px
      .line2
        border-left: 1px solid #f1f2f2
        height: 3rem
        .button-icon
          background-color: #ffffff
          margin: 8px 0 0 8px
          padding: 6px 0 5px 0
    .abajo2
      background-color: #ffffff
      margin: 0 0 0 46px
      padding: 5px 0 0 0
      #large
        font-size: 12px
        padding: 16px 10px 14px 26px
        margin: 5px 0 0 0
        width: 190px
      #large-size
        background-color: #f8f8f8
        color: #cdcdcd
        border-left: 1px solid #ccc
        border-radius: 0 18px 18px 0
        font-size: 14px
        margin: 0 6px 0 -48px
        padding: 12px 12px 12px 10px
    .boton2
      background-color: #ffffff
      padding: 4px 0 0 10px
    .last-day2
      background-color: #ffffff
      font-size: 18px
      margin: 0 4px 0 10px
      padding: 16px 8px 0 8px
    .button2
      background-color: #ffffff
      padding: 6px 0 0 0
      .line1
        border-right: 1px solid #f1f2f2
        height: 3rem
        .button-icon
          background-color: #1f1f1f
          color: #ffffff
          margin: 10px 14px 0 0
          padding: 10px 10px 10px 10px
      .line2
        border-left: 1px solid #f1f2f2
        height: 3rem
        .button-icon
          background-color: #ffffff
          margin: 8px 0 0 8px
          padding: 8px 0 5px 0
    .datos3
      background-color: #ffffff
      padding: 18px 0 0 0
      #label__1
        font-size: 20px
      #label__2
        font-size: 14px
    .boton3
      background-color: #ffffff
      margin: 0 5px 0 110px
      padding: 5px 0 0 0
      #large-size
        margin: 8px 0 0 0
    .last-day3
      background-color: #ffffff
      font-size: 20px
      margin: 0 0 0 6px
      padding: 28px 10px 0 12px
    .button3
      background-color: #ffffff
      margin: 0 0 0 4px
      padding: 15px 0 0 0
      .line1
        border-right: 1px solid #f1f2f2
        height: 3rem
        .icon-heart
          font-size: 16px
        .button-icon
          background-color: #1f1f1f
          color: #ffffff
          margin: 0 14px 0 0
          padding: 12px 12px 12px 12px
      .line2
        border-left: 1px solid #f1f2f2
        height: 3rem
        .button-icon
          background-color: #ffffff
          margin: 5px 0 0 10px
          padding: 8px 0 6px 0
