body {
  background-color: #f1f2f2;
  font-style: Open Sans;
  margin: 0;
  overflow-x: hidden;
  padding: 0; }
input {
  font-size: 22px;
  border-radius: 14px;
  border: 0;
  width: 400px; }
.button-icon {
  border: 0;
  border-radius: 20px;
  font-size: 14px;
  margin: 0 0 0 -40px;
  padding: 9px 8px 6px 8px; }
#tiny-size {
  font-size: 10px;
  margin: 10px 6px 0 -4px;
  padding: 4px 14px 4px 14px; }
#small-size {
  font-size: 10px;
  margin: 10px 6px 0 -6px;
  padding: 10px 18px 10px 18px; }
#medium-size {
  font-size: 10px;
  margin: 10px 6px 0 -6px;
  padding: 14px 26px 14px 26px; }
#large-size {
  font-size: 12px;
  margin: 10px 6px 0 -6px;
  padding: 18px 46px 18px 40px; }
#medium-size2 {
  font-size: 12px;
  margin: 15px 4px 0 -6px;
  padding: 12px 32px 12px 32px; }
#medium-size-2 {
  border: 1px solid #ccc;
  border-radius: 16px 0 0 16px;
  font-size: 10px;
  margin: 15px -22px 0 -6px;
  padding: 14px 20px 14px 18px; }
#medium-size-3 {
  border: 1px solid #ccc;
  border-radius: 0 16px 16px 0;
  font-size: 10px;
  margin: 15px -22px 0 10px;
  padding: 14px 18px 14px 18px; }
#medium {
  font-size: 12px;
  margin: 15px 6px 0 -6px;
  padding: 12px 22px 12px 22px; }
#normal {
  font-size: 12px;
  margin: 15px 6px 0 -4px;
  padding: 12px 46px 12px 46px; }
#action {
  font-size: 12px;
  margin: 15px 6px 0 -2px;
  padding: 12px 48px 12px 50px; }
#warning {
  font-size: 12px;
  margin: 15px 6px 0 -4px;
  padding: 12px 44px 12px 40px; }
#secondary {
  font-size: 12px;
  margin: 15px 6px 0 -2px;
  padding: 12px 36px 12px 32px; }
#pressed {
  font-size: 12px;
  margin: 15px 6px 0 -2px;
  padding: 12px 44px 12px 41px; }
#disable {
  font-size: 12px;
  margin: 15px 6px 0 -2px;
  padding: 12px 46px 12px 45px;
  opacity: 0.5; }
#tiny {
  font-size: 12px;
  padding: 3px 0 3px 15px;
  width: 120px; }
#small {
  border-radius: 20px;
  font-size: 13px;
  padding: 8px 5px 8px 20px;
  width: 160px; }
#medium-input {
  border-radius: 20px;
  font-size: 14px;
  padding: 8px 5px 10px 20px;
  width: 220px; }
#large {
  border-radius: 25px;
  font-size: 22px;
  padding: 10px 5px 10px 22px;
  width: 303px; }
.input {
  background-color: aqua;
  padding: 6px 0 0 0; }
hr {
  border: 1px solid #019c97;
  margin: 1rem 1rem 0 1rem; }
.main__navbar-serch {
  background-color: red;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap; }
  .main__navbar-serch .main__search {
    background-color: yellow;
    flex-grow: 1;
    padding: 26px 0 0 20px; }
    .main__navbar-serch .main__search label {
      padding: 0 1rem 0 0; }
  .main__navbar-serch .main__login {
    background-color: blue; }
    .main__navbar-serch .main__login .login {
      background: pink;
      display: flex;
      margin: auto;
      padding: 1rem 1rem 1rem 0; }
      .main__navbar-serch .main__login .login .login1 {
        padding: 20px 30px 0 0; }
      .main__navbar-serch .main__login .login .login3 {
        padding: 20px 0 0 0; }
.main {
  background-color: green;
  display: flex; }
  .main .main__button {
    background-color: purple;
    margin: 0 0 0 22rem;
    padding: 1rem 0 2rem 1rem; }
  .main .main__button-2 {
    background-color: red;
    padding: 1.5rem 0 2rem 1rem; }
  .main .main__button-3 {
    background-color: blue;
    padding: 1.5rem 0 2rem 0; }
    .main .main__button-3 .button-icon {
      margin: 16px 10px 10px 10px;
      padding: 8px 6px 8px 6px; }
  .main .main__button-4 {
    background-color: pink;
    padding: 1.5rem 0 2rem 1rem; }
  .main .main__button-5 {
    background-color: aqua;
    padding: 1.5rem 1rem 2rem 1rem; }
    .main .main__button-5 label {
      font-size: 11px; }
.inputs {
  background-color: orange;
  display: flex;
  margin: auto; }
  .inputs .main__input {
    background-color: red;
    margin: 0 0 0 22rem; }
    .inputs .main__input .label1 {
      padding: 1rem 0 0 0; }
    .inputs .main__input .label2 {
      padding: 1rem 0 0 0; }
  .inputs .main__input2 {
    background-color: purple;
    padding: 4rem 0 1rem 0; }
    .inputs .main__input2 #medium-input {
      margin: 0 2rem 0 0; }
    .inputs .main__input2 .input2 {
      padding: 1rem 0 0 3rem; }
      .inputs .main__input2 .input2 label {
        font-size: 14px; }
      .inputs .main__input2 .input2 #large {
        border-radius: 15px;
        font-size: 14px;
        padding: 10px 425px 70px 30px; }
.dropdown {
  background-color: green;
  display: flex;
  margin: auto; }
  .dropdown .main__dropdown {
    margin: 0 0 0 22rem; }
    .dropdown .main__dropdown #tiny-size {
      border: 1px solid #ccc;
      border-radius: 0 8px 8px 0;
      margin: 0 0 0 -30px;
      padding: 4px 4px 3px 4px; }
    .dropdown .main__dropdown #small-size {
      border: 1px solid #ccc;
      border-radius: 0 8px 8px 0;
      margin: 0 0 0 -38px;
      padding: 10px 7px 8px 6px; }
    .dropdown .main__dropdown #medium-size {
      border: 1px solid #ccc;
      border-radius: 0 8px 8px 0;
      margin: 0 0 0 -46px;
      padding: 11px 8px 10px 8px; }
    .dropdown .main__dropdown #large-size {
      border: 1px solid #ccc;
      border-radius: 0 8px 8px 0;
      margin: 0 26px 0 -60px;
      padding: 18px 10px 12px 8px; }
  .dropdown .main__input2 {
    background-color: pink;
    padding: 1rem 0 1rem 0; }
    .dropdown .main__input2 #medium-input {
      margin: 1rem 1rem 0 0; }
    .dropdown .main__input2 .input2 {
      background-color: blue;
      padding: 1rem 0 0 20rem; }
.label-button {
  background-color: orange;
  margin: 0; }
  .label-button .main__label-button {
    padding: 0 0 0 22rem; }
    .label-button .main__label-button .input {
      background-color: red;
      padding: 6px 0 12px 0; }
      .label-button .main__label-button .input #small-size {
        font-size: 10px;
        margin: 10px 26px 0 -98px;
        padding: 12px 18px 12px 18px; }
    .label-button .main__label-button .input-search {
      background-color: blue; }
      .label-button .main__label-button .input-search .input {
        background-color: pink; }
        .label-button .main__label-button .input-search .input #medium-size {
          margin: 0 20px 0 -38px;
          padding: 13px 10px 12px 10px; }
        .label-button .main__label-button .input-search .input #small-size {
          border: 1px solid #ccc;
          border-radius: 0 8px 8px 0;
          margin: 0 0 0 -38px;
          padding: 11px 7px 10px 6px; }
.main-card {
  background-color: aqua;
  display: flex;
  margin: auto; }
  .main-card .carta {
    background-color: green;
    border-right: 1px solid pink;
    margin: 0 0 0 22rem;
    padding: 0 4rem 0 0; }
    .main-card .carta .lyuot {
      background-color: blue;
      margin: 3rem 0 0 0;
      padding: 0 0 0 0; }
      .main-card .carta .lyuot .nombre {
        text-align: left; }
        .main-card .carta .lyuot .nombre #tiny {
          padding: 8px 0 8px 0; }
        .main-card .carta .lyuot .nombre .button-icon {
          margin: 0 0 0 2px; }
    .main-card .carta .main-card__card {
      background-color: red;
      border-radius: 5px;
      text-align: center; }
      .main-card .carta .main-card__card .trash {
        font-size: 12px;
        padding: 0 10px 0 150px; }
    .main-card .carta .imagen {
      background-color: orange;
      border-radius: 0 0 5px 5px;
      margin: 0 10px 10px 10px; }
    .main-card .carta .nombre {
      background-color: pink;
      margin: -26px 0 0 0; }
    .main-card .carta h6 {
      margin: -22px 0 0 0; }
    .main-card .carta .nombre2 {
      padding: 1rem 0 0 0;
      text-align: left; }
  .main-card .element {
    background-color: red;
    color: blue;
    margin: 22px 0 0 88px; }
  .main-card #small-size {
    margin: 0 0 0 1px; }
.titulo {
  background: yellow;
  padding: 3rem 2rem 0 0; }
  .titulo .main__titulo {
    background-color: pink;
    margin: 0 0 0 15px; }
  .titulo .cabecera {
    background-color: blue;
    border-radius: 8px;
    display: flex;
    padding: 5px 0 5px 0;
    margin: 1rem 0 0 1rem; }
    .titulo .cabecera .imagen {
      background-color: red;
      padding: 5px 5px 5px 10px; }
    .titulo .cabecera .datos {
      background-color: orange;
      padding: 10px 0 0 0; }
      .titulo .cabecera .datos #label-1 {
        font-size: 14px; }
      .titulo .cabecera .datos #label-2 {
        font-size: 10px; }
    .titulo .cabecera .abajo {
      background-color: pink;
      margin: 0 0 0 113px;
      padding: 5px 0 0 0; }
      .titulo .cabecera .abajo #large {
        font-size: 12px;
        width: 176px; }
      .titulo .cabecera .abajo #large-size {
        border: 1px solid #ccc;
        border-radius: 0 18px 18px 0;
        font-size: 12px;
        margin: 4px 6px 0 -58px;
        padding: 10px 20px 10px 16px; }
    .titulo .cabecera .boton {
      background-color: aqua;
      padding: 12px 0 0 0; }
    .titulo .cabecera .last-day {
      background-color: pink;
      margin: 0 0 0 5px;
      padding: 18px 0 0 3px; }
    .titulo .cabecera .button {
      background-color: orange;
      margin: 0 0 0 4px;
      padding: 10px 0 0 0; }
      .titulo .cabecera .button .line1 {
        border-right: 1px solid #01a6a1;
        height: 2rem; }
        .titulo .cabecera .button .line1 .button-icon {
          margin: 0 2px 0 4px; }
      .titulo .cabecera .button .line2 {
        border-left: 1px solid #01a6a1;
        height: 2rem; }
        .titulo .cabecera .button .line2 .button-icon {
          margin: 0 0 0 6px;
          padding: 8px 0 5px 0; }
    .titulo .cabecera .abajo2 {
      background-color: pink;
      margin: 0 0 0 40px; }
      .titulo .cabecera .abajo2 #large {
        font-size: 12px;
        padding: 16px 10px 14px 30px;
        margin: 5px 0 0 0;
        width: 200px; }
      .titulo .cabecera .abajo2 #large-size {
        border: 1px solid #ccc;
        border-radius: 0 18px 18px 0;
        font-size: 12px;
        margin: 0 6px 0 -58px;
        padding: 16px 18px 14px 16px; }
    .titulo .cabecera .boton2 {
      background-color: aqua;
      padding: 0 0 0 8px; }
    .titulo .cabecera .last-day2 {
      background-color: pink;
      margin: 0 0 0 5px;
      padding: 18px 0 0 3px; }
    .titulo .cabecera .button2 {
      background-color: orange;
      margin: 0 0 0 4px;
      padding: 12px 0 0 0; }
      .titulo .cabecera .button2 .icon-heart {
        font-size: 17px; }
      .titulo .cabecera .button2 .line1 {
        border-right: 1px solid #01a6a1;
        height: 2rem; }
        .titulo .cabecera .button2 .line1 .button-icon {
          margin: 0 9px 0 0; }
      .titulo .cabecera .button2 .line2 {
        border-left: 1px solid #01a6a1;
        height: 2rem; }
        .titulo .cabecera .button2 .line2 .button-icon {
          margin: 0 0 0 6px;
          padding: 8px 0 5px 0; }
    .titulo .cabecera .datos3 {
      background-color: orange;
      padding: 18px 20px 0 10px; }
      .titulo .cabecera .datos3 #label__1 {
        font-size: 20px; }
      .titulo .cabecera .datos3 #label__2 {
        font-size: 14px; }
    .titulo .cabecera .boton3 {
      background-color: aqua;
      margin: 0 0 0 105px;
      padding: 5px 0 0 0; }
      .titulo .cabecera .boton3 #large-size {
        margin: 8px 0 0 0; }
    .titulo .cabecera .last-day3 {
      background-color: pink;
      margin: 0 0 0 5px;
      padding: 28px 6px 0 6px; }
    .titulo .cabecera .button3 {
      background-color: orange;
      margin: 0 0 0 4px;
      padding: 15px 0 0 0; }
      .titulo .cabecera .button3 .icon-heart {
        font-size: 26px; }
      .titulo .cabecera .button3 .line1 {
        border-right: 1px solid #01a6a1;
        height: 3rem; }
        .titulo .cabecera .button3 .line1 .button-icon {
          margin: 0 6px 0 0; }
      .titulo .cabecera .button3 .line2 {
        border-left: 1px solid #01a6a1;
        height: 3rem; }
        .titulo .cabecera .button3 .line2 .button-icon {
          margin: 5px 0 0 6px;
          padding: 8px 0 6px 0; }
.main-update {
  background-color: purple;
  display: flex;
  margin: 3rem 0 0 0; }
  .main-update .main__update {
    background-color: blue;
    border-radius: 8px;
    padding: 10px 0 10px 0;
    margin: 1rem 4rem 0 1rem;
    width: 20rem; }
    .main-update .main__update .update {
      background-color: aqua;
      display: flex; }
      .main-update .main__update .update .imagen {
        background-color: red;
        padding: 5px 5px 5px 10px; }
      .main-update .main__update .update .datos {
        background-color: orange;
        padding: 10px 0 0 0; }
        .main-update .main__update .update .datos #label-1 {
          font-size: 14px; }
        .main-update .main__update .update .datos #label-2 {
          font-size: 10px; }
      .main-update .main__update .update .button {
        background-color: orange;
        margin: 0 0 0 76px;
        padding: 10px 0 0 0; }
        .main-update .main__update .update .button .line2 {
          border-left: 1px solid #01a6a1;
          height: 35px; }
          .main-update .main__update .update .button .line2 .button-icon {
            margin: 0 0 0 6px;
            padding: 8px 0 5px 0; }
      .main-update .main__update .update .button2 {
        background-color: orange;
        margin: 0 0 0 133px;
        padding: 10px 0 0 0; }
        .main-update .main__update .update .button2 .line2 {
          border-left: 1px solid #01a6a1;
          height: 35px; }
          .main-update .main__update .update .button2 .line2 .button-icon {
            margin: 0 0 0 6px;
            padding: 8px 0 5px 0; }
    .main-update .main__update .input #medium-input {
      margin: 0 0 0 45px; }
    .main-update .main__update .input #medium-size {
      border: 1px solid #ccc;
      border-radius: 0 8px 8px 0;
      margin: 0 0 0 -42px;
      padding: 12px 5px 10px 5px; }
    .main-update .main__update .button {
      background-color: red;
      padding: 5px 0 0 0; }
      .main-update .main__update .button #medium-size {
        margin: 0 5px 0 46px;
        padding: 14px 66px 14px 66px; }
      .main-update .main__update .button #tiny-size {
        margin: 0 0 0 2px; }
      .main-update .main__update .button .button-icon {
        margin: 0 0 0 1px;
        padding: 8px 6px 8px 6px; }
        .main-update .main__update .button .button-icon .icon-heart {
          font-size: 18px; }
    .main-update .main__update .last-day3 {
      background-color: pink;
      font-size: 22px;
      margin: 0 0 0 5px;
      padding: 6px 6px 0 6px;
      text-align: center; }
      .main-update .main__update .last-day3 .last-day-3 {
        background-color: red;
        display: flex;
        font-size: 10px; }
        .main-update .main__update .last-day3 .last-day-3 label {
          margin: 10px 0 0 0; }
        .main-update .main__update .last-day3 .last-day-3 #title1 {
          margin: 10px 0 0 50px; }
.main__column {
  background-color: orange;
  margin: 0;
  width: 964px; }
  .main__column .column {
    background-color: pink; }
    .main__column .column label {
      font-size: 12px;
      padding: 0 32px 0 1px; }
    .main__column .column .button-icon {
      margin: 0 5px 0 0; }
    .main__column .column .column1 {
      background-color: red;
      border-radius: 28px; }
      .main__column .column .column1 label {
        font-size: 15px;
        padding: 0 2rem 0 0; }
    .main__column .column .column2 {
      background-color: blue; }
      .main__column .column .column2 label {
        font-size: 15px;
        padding: 0 2rem 0 0; }

/*# sourceMappingURL=main.css.map */
